
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model SID.Web.UI.Models.VM.ProductVM
<h1>Ürün Güncelle</h1>
@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.Partial("Partial/ProductForm")
    <button type="submit" class="btn btn-primary">Güncelle</button>
}

